<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Registrate</h3>
        <div class="formGroup">
          <input
            type="Nombre"
            class="formControl"
            placeholder="Nombre usuario"
            #userName
            required
          />
        </div>
        <div class="formGroup">
          <input
            type="email"
            class="formControl"
            placeholder="E-mail"
            #userEmail
            required
          />
        </div>
        <div class="formGroup">
          <input
            type="password"
            class="formControl"
            placeholder="Contraseña"
            #userPwd
            required
          />
        </div>
        <div class="formGroup">
          <input
            type="button"
            class="btn btnPrimary"
            value="Registrar"
            (click)="authService.SignUp(userName.value , userEmail.value, userPwd.value)"
          />
        </div>
        <div class="formGroup">
          <span class="or"><span class="orInner">O</span></span>
        </div>
        
        <div class="formGroup">
          <button
            type="button"
            class="btn googleBtn"
            (click)="authService.GoogleAuth()"
          >
            <i class="fab fa-google-plus-g"></i>
            Continua  con Google
          </button>
        </div>
      </div>
      <div class="redirectToLogin">
        <span
          >Ya tenes cuenta?
          <span class="redirect" routerLink="/sign-in">Iniciar Sesion</span></span
        >
      </div>
    </div>
  </div>
