
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="">
      <img class="brand-logo" src="https://avatars.githubusercontent.com/u/70767641?v=4" alt="Sofka logo"> 
      <span> SofkaUMarvels </span>      
    </a>
    <a class="btn btn-danger m-3" (click)="authService.SignOut()">
      <i class="fas fa-sign-out-alt"></i>Log out
    </a>
  </nav>

  
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <br>
            <br>
            <li class="nav-item">
              <div class="row" *ngIf="authService.userData as user">
                    <img class=" m-auto img-thumbnail rounded-circle img-fluid p-2" 
                    src="{{(user.photoURL) ? user.photoURL : '/assets/imgs/dummy.png'}}"
                      alt="{{user.displayName}}">
              </div>
            </li>
            <br>
            <br>
            <li class="nav-item">
              <a class="nav-link active">
                <i class="fas fa-user"></i>Perfil de usuario
              </a>
            </li>
            
            </ul>
             
           
            
          
        </div>
      </nav>
      
     
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="inner-adjust" *ngIf="authService.userData as user">
          <div class="pt-3 pb-2 mb-3 border-bottom">
            <h1>Bienvenido: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
            <span>Puntaje: <strong>{{jugadorLog.puntaje}}</strong></span>
          </div>
        </div>

         
          <div class="row">
            <div class="col-md-12">

                <div class="usuarios">
                  <h2>Elije tus rivales</h2>

                  <div class="row row-cols-1 row-cols-md-3 g-4" >
                    <div class="col" *ngFor="let u of usuarios" (click)="elegirJugador(u!)">
                      <div  class="card mb-3" >
                        <div class="row g-0">
                          <div class="col-md-4 text-center">
                            <img src="../../../assets/character-default.png" 
                            class="img-fluid p-2" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">{{u.nombre}}</h5>
                              <span >{{u.puntaje}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <hr>
                  
                  <div class="row ">
                    <h2 class="col-3">Rivales</h2>
                    <div  class="row col-9 align-items-end">
                      <a *ngIf=" linkPartida === '' " class="btn btn-primary ms-5 w-50" (click)="crearPartidaNueva()" >Crear Partida</a>
                      <div *ngIf=" linkPartida !== '' " class="row ">
                       <a class="btn btn-warning w-50" type="button" (click)="empezarPartida()" >Empezar partida</a>
                       <mat-form-field appearance="outline" class="w-50">
                        <mat-label>Copia el link para enviar a tus rivales</mat-label>
                        <input matInput [value]="linkPartida" type="text">
                        <button mat-icon-button matSuffix (click)="copyLink()" ><mat-icon>file_copy</mat-icon></button>
                        <a  mat-icon-button matSuffix  href="https://api.whatsapp.com/send/?text={{linkPartida}}" >
                          <mat-icon>whatsapp</mat-icon>
                        </a>
                      </mat-form-field>
                      </div>
                    </div>
                   
                  </div>

                  <br>


                  <section class="rivales">
                    <div class="row row-cols-1 row-cols-md-3 g-4" >
                      <div class="col" *ngFor="let rival of rivales; let i = index">
                        <div  class="card mb-3">
                          <div class="row g-0">
                            <div class="col-md-4">
                              <img src="../../../assets/character-{{i}}.png" 
                              class="img-fluid rounded-start p-2" alt="...">
                            </div>
                            <div class="col-md-8">
                              <div class="card-body ">
                                <h5 class="card-title">{{rival.nombre}}</h5>
                                <a type="button" class="btn btn-outline-light btn-sm"  (click) = "retirarRival(rival!)"> &#10060;</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>

              </div>
            </div>

        
      </main>
    </div>
  </div>
  <router-outlet></router-outlet>
