<div class="tablero">
    
    <div class="shadow d-flex justify-content-evenly align-items-center" cdkDropListGroup>
        
        <div  class="jugadores-partida d-flex justify-content-evenly align-items-center flex-column">
            <app-avatarjugador></app-avatarjugador>
            <app-avatarjugador></app-avatarjugador>
            <app-avatarjugador></app-avatarjugador>
        </div>
       <div class="d-flex justify-content-around flex-wrap align-items-center w-50  tablero-apuestas "  cdkDropList
       [cdkDropListData]="apuestas" (cdkDropListDropped)="drop($event)">
        <div class="ronda">Ronda : 1</div>
        <div class="tiempo">Tiempo : 10s</div>
        
        <div *ngFor="let apuesta of apuestas" cdkDrag > <app-card ></app-card></div>
          
       </div>
       <div class="mazojugador"> 
        <div class="texto-mazo " *ngIf=" authService.userData as user"><h3>Mazo de {{user.displayName}}</h3></div>
       <div  class="d-flex align-items-center flex-column mazo-cartas " cdkDropList
       [cdkDropListData]="mazo" (cdkDropListDropped)="drop($event)" >
       
       <div *ngFor="let item of mazo" cdkDrag><app-card></app-card> </div>

       </div>
       </div>
    </div>
   
</div>
